{% extends 'layout/index.html.twig' %}
{% block content %}
<div class="col-md-8 content-main">
	<div class="content-grid">
	{% if articles %}
    {% for article in articles %}
	 
	 <div class="content-grid-info">
		 <img src="/uploads/img/articles/{{ article.thumb }}" alt=""/>
		 <div class="post-info">
		 <h4><a href="/article/{{ article.slug }}.html">{{ article.title }}</a></h4>
		 <p>{{ article.updated_at|date('M d, Y') }} / {{ number_comment[article.id] }} Comments</p>
		 <p>{{ article.description }}</p>
		 <a href="/article/{{ article.slug }}.html"><span></span>READ MORE</a>
		 </div>
	 </div>
	{% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}