{% extends 'layout/index.html.twig' %}

{% block content %}
<div class="col-md-8 content-main">
<table>
{% for value in result %}
<tr>
	<td style="vertical-align:text-top;"> 
		<a href="/article/{{ value.slug }}.html" class="thumbnail" style="width: 140px;">
			<img src="/uploads/images/articles/{{ value.thumb }}" alt="{{ value.thumb }}">
		</a>
	</td>
	<td style="padding-left:10px">
		<a href="/article/{{ value.slug }}.html">
			{{ value.title }}
		</a>
		<p>
			{{ value.description }}
		</p>
	</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}